h1 {
  font-size: 40px;
  display: flex;
  justify-content: center;
  margin: 40px;
}
 nav ul {
   display: flex;
   position: fixed;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   top: 0;
   width: 100%;
 }

 li {
   padding: 20px
 }

 header {
   background-color: #263d36;
   background-image: url("header.jpg");
   background-position: center top;
   background-repeat: no-repeat;
   background-size: cover;
   line-height: 1.2;
   padding: 10vw 2em;
   text-align: center;
 }
