@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';
body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  background-color: #FFFCF2;
}

main {
  max-width: 50em;
  margin: 0 auto;
}

h1 {
  font-size: 3em;
  font-weight: lighter;
  display: flex;
  justify-content: center;
  padding: .1em;
  margin: .2em;
}

h2 {
  padding: .1em;
  font-size: 1.5em;
  font-weight: bold;
}
 nav ul {
   display: flex;
   position: fixed;
   flex-direction: row;
   align-items: center;
   justify-content: flex-end;
   top: 0;
   width: 100%;
   background-color: #091540;
   color: #7692FF;
 }

 a, a:visited {
   color: #7692FF;
 }

 li {
   padding: 20px
 }

 header {
   background-image: url("images/header.jpg");
   background-position: center top;
   background-repeat: no-repeat;
   background-size: cover;
   line-height: 1.2em;
   color: white;
   padding: 10vw 2em;
   text-align: center;
   max-width: none;
 }

#photo-credit {
  color: grey;
  padding: 1em;
}

.project-img {
  max-width: 40em;
}

.skills {
  display: flex;
  flex-direction: row;
}

.box {
  border: 1px solid grey;
  padding: 1.2em;
  margin: 1.2em;
}
