@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';
body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  background-color: #FFFCF2;
}

main {
  max-width: 50em;
  margin: 0 auto;
}

h1 {
  font-size: 3em;
  font-weight: lighter;
  display: flex;
  justify-content: center;
  padding: .1em;
  margin: .2em;
}

h2 {
  padding: .1em;
  font-size: 1.5em;
  font-weight: bold;
}

h3 {
  font-size: 1.5em;
  font-weight: normal;
  color: #091540;
  padding: 1em;
}

 nav ul {
   display: flex;
   position: fixed;
   flex-direction: row;
   align-items: center;
   justify-content: flex-end;
   top: 0;
   width: 100%;
   background-color: #091540;
   color: #7692FF;
   z-index: 9001;
 }

 a, a:visited {
   color: #7692FF;
   text-decoration: none;
   padding: 1em;
 }

 li {
   padding: 20px
 }

 header {
   background-image: url("images/header.jpg");
   background-position: center top;
   background-repeat: no-repeat;
   background-size: cover;
   line-height: 1.2em;
   color: white;
   padding: 10vw 2em;
   text-align: center;
   max-width: none;
 }

#photo-credit {
  color: grey;
  padding: 1em;
}

.project-img {
  display: flex;
  max-width: 40em;
  position: relative;
  transition: filter .3s ease-in-out;
}

.project:hover img {
  -webkit-filter: grayscale(100%) blur(10px); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%) blur(5px);
}

.icons {
  flex-direction: row;
  display: flex;
}

.skills {
  display: flex;
  flex-direction: row;
}

.box {
  padding: 1.2em;
  margin: 1.2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: box-shadow .3s ease-in-out, transform .3s ease-in-out;
}

.box:hover {
  transform: translate3d(0, -10px, 0);
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .15);
}

.project {
  position: relative;
}

.projects {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100em;
}

.hover-text {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 30em;
  line-height: 1.5em;
  position: absolute;
  top: 20%;
  left: 8% ;
  opacity: 0;
  min-height: 50%
  padding: 0;
  transition: padding .3s ease-in-out, opacity .3s ease-in-out, box-shadow .3s ease-in-out;
}

.project:hover .hover-text {
  padding: 5%;
  opacity: 1;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .15);
  background-color: white;
}
